body {
  font-family: sans-serif;
}

h1 {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 0;
}

#states-list label {
  font-size: 18px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#states-list label:hover {
  background-color: #af2323;
}

input[type="checkbox"] {
  margin-right: 10px;
}

body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  background-color: #fafafa;
}

#progress-container,
#states-list,
#reset-button {
  width: 80%;
  max-width: 600px;
}
